@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #263143;
  background: #f7fafc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
}

button,
input,
select,
textarea {
  font: inherit;
}

::selection {
  background: #b65528;
  color: white;
}
